<div class="w-full md:min-h-screen flex items-centehadustify-center md:px-20 pt-0 md:-mt-5">
  <div class="flex flex-col-reverse md:flex-row items-center justify-center gap-8 w-full">
    <!-- Columna 1: Título, descripción y botón -->
  <div class="flex-1 text-left max-w-xl px-4 md:px-0">
      <h1 class="text-2xl md:text-4xl font-bold mb-4">Guía de enseñanza del paradigma funcional: Comparando Racket y Ocaml</h1>
      <p class="mb-2 text-sm md:text-base text-gray-700 text-justify max-w-prose">
        El objetivo es promover el aprendizaje del lenguaje de programación OCaml a través de conocimientos previos de
        Scheme, también conocido como Racket. Esta herramienta ofrece un enfoque práctico basado en ejemplos que
        fomentan el desarrollo de habilidades de abstracción y la comprensión profunda de conceptos de programación.
        Está diseñada para guiar de manera estructurada y accesible, permitiendo un aprendizaje progresivo y efectivo.
        <ng-container *ngIf="!showMore && !isDesktop">
          <a href="#" class="text-blue-600 underline text-sm ml-2" (click)="showMore = true; $event.preventDefault()">Leer más</a>
        </ng-container>
      </p>
      <div class="mb-2 text-sm md:text-base text-gray-700 text-justify max-w-prose">
        <ng-container *ngIf="showMore || isDesktop">
          <strong>Información Adicional</strong><br>
          La herramienta se organiza en 12 módulos, cada uno centrado en temas específicos y acompañado de ejemplos
          prácticos que ilustran los conceptos de manera clara. Los módulos pueden explorarse en cualquier orden, aunque
          se recomienda seguir la secuencia propuesta, revisando el módulo previo antes de avanzar al siguiente, para
          garantizar una comprensión más sólida y coherente de los temas tratados. Cada módulo está diseñado para reforzar
          habilidades prácticas y teóricas, con un enfoque en la aplicación real de los conocimientos adquiridos.
          <ng-container *ngIf="!isDesktop">
            <a href="#" class="text-blue-600 underline text-sm ml-2" (click)="showMore = false; $event.preventDefault()">Leer menos</a>
          </ng-container>
        </ng-container>
      </div>
      <button
        class="mt-3 px-4 py-1.5 text-white rounded-lg shadow transition"
        style="background-color: #3e5aa9;"
        [routerLink]="['/paradigma-funcional']">Comenzar</button>
    </div>
    <!-- Columna 2: Imagen -->
    <div class="flex-1 flex items-start justify-start p-0 m-0 w-full mt-0 pt-0 md:items-center md:justify-center">
      <img src="assets/img/logo.webp" alt="Aprendizaje Racket y OCaml"
        class="w-full h-auto m-0 p-0 block md:max-w-2xl md:mx-auto md:rounded-lg md:shadow-lg" loading="lazy"
        style="margin:0;padding:0;" />
    </div>
  </div>
</div>

<!-- Sección de módulos -->
<div class="px-4 sm:px-8 md:px-16 mb-5 mx-auto" id="modulos" >
  <app-modulos />
</div>
