<button
  class="mb-4 px-4 py-1.5 text-white rounded-full shadow transition"
  style="background-color: #ec690d;"
  [routerLink]="['/']">
  ← Volver al menú principal
</button>

<div class="flex flex-col md:flex-row gap-6 w-full">
  <div class="flex-1 min-w-0">
    <app-code-editor
      [label]="'Racket'"
      [language]="'scheme'"
      [code]="racketCode"
      [disabled]="true"
    />
  </div>
  <div class="flex-1 min-w-0">
    <app-code-editor
      [label]="'OCaml'"
      [language]="'ocaml'"
      [code]="ocamlCode"
      [disabled]="true"
    />
  </div>
</div>
